/* make play buto one time event */

:root {
  --bg-color: #202020;
  --red: rgba(255, 8, 0);
  --red1: 255, 8, 0;
  --green: rgba(0, 236, 0);
  --green1: 0, 236, 0;
  --blue: rgba(0, 247, 255);
  --blue1: 0, 247, 255;
  --icons: #ffffff;
}

.cube-red {
  --color: var(--red);
  --color1: var(--red1);
}

.cube-green {
  --color: var(--green);
  --color1: var(--green1);
}

.cube-blue {
  --color: var(--blue);
  --color1: var(--blue1);
}

.reset {
  display: none;
}

@keyframes spin {
  from {
    transform: rotateX(-25deg) rotateY(0deg);
  }
  to {
    transform: rotateX(-25deg) rotateY(360deg);
  }
}

@keyframes floating {
  0% {
    top: 23%;
  }
  30% {
    top: 33%;
  }
  50% {
    top: 23%;
  }
  70% {
    top: 35%;
  }
  100% {
    top: 23%;
  }
}

@keyframes shadow-size {
  0% {
    width: 150%;
    height: 150%;
  }
  30% {
    width: 120%;
    height: 120%;
  }
  50% {
    width: 150%;
    height: 150%;
  }
  70% {
    width: 120%;
    height: 120%;
  }
  100% {
    width: 150%;
    height: 150%;
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 16px rgba(255, 255, 255, 0.01);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: transparent;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 8em;
  align-items: flex-end;
  overflow: hidden;
}

.displayScore {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333;
  gap: 20em;
  width: 20%;
}

.winnerDiv {
  display: flex;
  background: red;
  height: 200px;
  width: 200px;
  justify-content: center;
}

.menu {
  position: absolute;
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.fa-play {
  margin-top: 0.3em;
  margin-left: 0.3em;
  width: 1.5em;
  height: 1.5em;
  fill: #151515;
}

.menu .toggle {
  position: relative;
  margin-bottom: 18em;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  transition: 1.25s;
}

.menu.active .toggle {
  transform: rotate(360deg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #333, 0 0 0 8px #fff;
}

.menu li {
  position: absolute;
  right: 180px;
  bottom: 200px;
  list-style: none;
  transition: 0.5s;
  transform: rotate(calc(-240deg / 2.1 * var(--i)));
  transform-origin: 240px;
  scale: 0;
  transition-delay: calc(0.05s * var(--i));
}

.menu.active li {
  scale: 1;
}
.menu li a {
  position: relative;
  display: flex;
}

.pc-container {
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.pc {
  height: auto;
  width: 60rem;
}

.pc-emotions {
  display: flex;
  position: absolute;
  align-self: center;
  padding: 0;
  margin: 0px;
  display: none;
  z-index: 2;
}
.container {
  width: 205px;
  height: 205px;
  perspective: 1000px;
}

.cube {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  animation: spin 5s infinite linear, floating 8s infinite linear;
  cursor: pointer;
}

.cube-blue,
.cube-red,
.cube-green {
  scale: 40%;
}

/* Cube rotation on button axis */

.red {
  transform: translatex(-45px) translateY(-55px) rotateZ(0deg);
}

.green {
  transform: translatex(-15px) rotateZ(115deg);
}

.blue {
  transform: translatex(-75px) translateY(-45px) rotateZ(230deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

.svg-logo {
  fill: var(--icons);
  height: 100px;
  display: block;
  margin: auto;
}

.face .svg-logo {
  transform: translateZ(40px);
  position: absolute;
}

.face .fix {
  transform: translateZ(40px) rotate(180deg);
}

.face .svg-logo:nth-child(1) {
  transform: translateZ(0px);
  fill: rgba(0, 0, 0, 0.5);
}

.face .fix:nth-child(1) {
  transform: translateZ(0px) rotate(180deg);
  fill: rgba(0, 0, 0, 0.5);
}

.face:nth-child(6) {
  animation: floating 8s infinite linear, shadow-size 8s infinite linear;
  animation-direction: reverse;
}

.top {
  transform: rotateX(90deg) translateZ(100px);
  background: #151515;
}

.bottom {
  transform: rotateX(-90deg) translateZ(200px);
  background: var(--color);
  filter: blur(35px);
  box-shadow: 0 0 120px rgba(var(--color1), 0.2),
    0 0 200px rgba(var(--color1), 0.4), 0 0 300px rgba(var(--color1), 0.6),
    0 0 400px rgba(var(--color1), 0.8), 0 0 500px rgba(var(--color1), 0.1);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
  background: linear-gradient(#151515, var(--color));
}
.left {
  transform: rotateY(-90deg) translateZ(100px);
  background: linear-gradient(#151515, var(--color));
}

.front {
  transform: rotateX(0deg) translateZ(100px);
  background: linear-gradient(#151515, var(--color));
}
.back {
  transform: rotateX(-180deg) translateZ(100px);
  background: linear-gradient(var(--color), #151515);
}
