/* make play buto one time event */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Questrial&display=swap");

:root {
  --bg-color: #008080;
  --red: rgba(255, 8, 0);
  --red1: 255, 8, 0;
  --green: rgba(0, 236, 0);
  --green1: 0, 236, 0;
  --blue: rgba(0, 247, 255);
  --blue1: 0, 247, 255;
  --glow-green: #00fa7d;
  --glow-darkgreen: #049729;

  --icons: #ffffff;
}

.cube-red {
  --color: var(--red);
  --color1: var(--red1);
}

.cube-green {
  --color: var(--green);
  --color1: var(--green1);
}

.cube-blue {
  --color: var(--blue);
  --color1: var(--blue1);
}

.reset {
  display: none;
}

*::selection {
  background-color: transparent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}

p {
  font-size: 13px;
}

.win-bg {
  position: fixed;
  width: 400px;
  height: auto;
  left: 0;
place-self: flex-start;
padding-left: 15em;
padding-top: 2.5em;
z-index: 5;
}

.win-help {
  position: fixed;
  right: 0;
  width: 350px;
  height: 50vh;
  z-index: 1;
  align-self: baseline;
  justify-content: flex-end;
  z-index: 4;

}

.title-bar-controls {
  z-index: 2;
  cursor: pointer;
}
.game-score {
  height: auto;
  width: 320px;
  position: fixed;
  align-self: flex-end;
  left: 0;
  z-index: 3;
  padding-bottom: 5em;
}

.reset {
  position: relative;
  cursor: pointer;
  opacity: 1;
  z-index: 3;
  text-align: end;
}

.pc-container {
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2em;
  height: auto;
  width: 100%;
  height: 100%;
  z-index: 3;
  animation: floatingpc 5s infinite ease-in-out;
}

.pc {
  height: auto;
  width: 26rem;
  position: absolute;
}

.winner {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  top: 45px;
  right: -7px;
  width: 170px;
  height: 130px;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: "VT323", monospace;
  animation: glow 1s ease-in-out infinite alternate;
  font-size: 36px;
}

.pcShadow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 350px;
  height: 200px;
  transform: rotateX(-60deg) translateZ(350px);
  background: #000000;
  filter: blur(65px);
  box-shadow: 0 0 120px rgba(var(--color1), 0.2),
    0 0 200px rgba(var(--color1), 0.4), 0 0 300px rgba(var(--color1), 0.6),
    0 0 400px rgba(var(--color1), 0.8), 0 0 500px rgba(var(--color1), 0.1);
  z-index: -1;
}

.container {
  width: 205px;
  height: 205px;
  perspective: 1000px;
}

.menu {
  position: relative;
  width: 75px;
  height: 23px;
  display: flex;
  place-self: end;
  bottom: 25em;
  z-index: 3;
}

.menu li {
  position: absolute;
  left: -200px;
  bottom: -100px;

  list-style: none;
  transition: 0.5s;
  transform: rotate(calc(-240deg / 2.1 * var(--i)));
  transform-origin: 240px;
  scale: 0;
  transition-delay: calc(0.05s * var(--i));
  z-index: -1;
}

.menu.active li {
  scale: 1;
  z-index: -1;
}

.cube {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  animation: spin 5s infinite linear, floating 8s infinite linear;
  cursor: pointer;
}

.cube-blue,
.cube-red,
.cube-green {
  scale: 35%;
}

/* Cube rotation on button axis */

.red {
  transform: translatex(-25px) translateY(-55px) rotateZ(0deg);
}

.green {
  transform: translatex(15px) rotateZ(115deg);
}

.blue {
  transform: translatex(-55px) translateY(-45px) rotateZ(230deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

.svg-logo {
  fill: var(--icons);
  height: 100px;
  display: block;
  margin: auto;
}

.face .svg-logo {
  transform: translateZ(40px);
  position: absolute;
}

.face .fix {
  transform: translateZ(40px) rotate(180deg);
}

.face .svg-logo:nth-child(1) {
  transform: translateZ(0px);
  fill: rgba(0, 0, 0, 0.5);
}

.face .fix:nth-child(1) {
  transform: translateZ(0px) rotate(180deg);
  fill: rgba(0, 0, 0, 0.5);
}

.face:nth-child(6) {
  animation: floating 8s infinite linear, shadow-size 8s infinite linear;
  animation-direction: reverse;
}

.top {
  transform: rotateX(90deg) translateZ(100px);
  background: #151515;
}

.bottom {
  transform: rotateX(-90deg) translateZ(200px);
  background: var(--color);
  filter: blur(35px);
  box-shadow: 0 0 120px rgba(var(--color1), 0.2),
    0 0 200px rgba(var(--color1), 0.4), 0 0 300px rgba(var(--color1), 0.6),
    0 0 400px rgba(var(--color1), 0.8), 0 0 500px rgba(var(--color1), 0.1);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
  background: linear-gradient(#151515, var(--color));
}
.left {
  transform: rotateY(-90deg) translateZ(100px);
  background: linear-gradient(#151515, var(--color));
}

.front {
  transform: rotateX(0deg) translateZ(100px);
  background: linear-gradient(#151515, var(--color));
}
.back {
  transform: rotateX(-180deg) translateZ(100px);
  background: linear-gradient(var(--color), #151515);
}

/* All animations */

@keyframes spin {
  from {
    transform: rotateX(-25deg) rotateY(0deg);
  }
  to {
    transform: rotateX(-25deg) rotateY(360deg);
  }
}

@keyframes floating {
  0% {
    top: 23%;
  }
  30% {
    top: 33%;
  }
  50% {
    top: 23%;
  }
  70% {
    top: 35%;
  }
  100% {
    top: 23%;
  }
}

@keyframes floatingpc {
  0% {
    top: 5%;
  }
  30% {
    top: 7%;
  }
  50% {
    top: 5%;
  }
  70% {
    top: 7%;
  }
  100% {
    top: 5%;
  }
}

@keyframes shadow-size {
  0% {
    width: 150%;
    height: 150%;
  }
  30% {
    width: 120%;
    height: 120%;
  }
  50% {
    width: 150%;
    height: 150%;
  }
  70% {
    width: 120%;
    height: 120%;
  }
  100% {
    width: 150%;
    height: 150%;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--green),
      0 0 40px var(--green), 0 0 50px var(--green), 0 0 60px var(--green),
      0 0 70px var(--green);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px var(--glow-darkgreen),
      0 0 40px var(--glow-darkgreen), 0 0 50px var(--glow-darkgreen),
      0 0 60px var(--glow-darkgreen), 0 0 70px var(--glow-darkgreen),
      0 0 80px var(--glow-darkgreen);
  }
}
